Problem Statement : Hospital Patient Data Analysis
Context:
A hospital maintains patient records including admission details, department, diagnosis, doctor, and bill amount. You have two datasets: one with patient info and another with billing details. Some patients have blank bill amounts, and there are multiple rows for the same patient due to follow-ups.

Tasks:
1.	Load the patient dataset and show summary with info().

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
df = pd.read_csv(r"C:\Users\chand\Patient_Data.csv")
df

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00
1,102,Bob,Neurology,Dr. John,NaN,2,2023-01-11 10:30
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00
4,105,Eva,Dermatology,Dr. Rose,NaN,2,2023-01-14 08:45
5,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PatientID       6 non-null      int64
 1   Name            6 non-null      object
 2   Department      6 non-null      object
 3   Doctor          6 non-null      object
 4   BillAmount      4 non-null      float64
 5   ReceptionistID  6 non-null      int64
 6   CheckInTime     6 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 468.0+ bytes

2.	Select only the columns relevant for billing: ['PatientID', 'Department', 'Doctor', 'BillAmount'].

In [4]:
bill_df = df[['PatientID', 'Department', 'Doctor', 'BillAmount']]

In [5]:
bill_df

   PatientID   Department     Doctor  BillAmount
0        101   Cardiology  Dr. Smith      5000.0
1        102    Neurology   Dr. John         NaN
2        103  Orthopedics    Dr. Lee      7500.0
3        104   Cardiology  Dr. Smith      6200.0
4        105  Dermatology   Dr. Rose         NaN
5        101   Cardiology  Dr. Smith      5000.0

3.	Drop administrative columns like ['ReceptionistID', 'CheckInTime'].

In [6]:
df.drop(columns=['ReceptionistID', 'CheckInTime'], inplace=True)

In [7]:
df

   PatientID     Name   Department     Doctor  BillAmount
0        101    Alice   Cardiology  Dr. Smith      5000.0
1        102      Bob    Neurology   Dr. John         NaN
2        103  Charlie  Orthopedics    Dr. Lee      7500.0
3        104    David   Cardiology  Dr. Smith      6200.0
4        105      Eva  Dermatology   Dr. Rose         NaN
5        101    Alice   Cardiology  Dr. Smith      5000.0

4.	Use groupby to find total bill amount per department.

In [8]:
depart_bill = df.groupby('Department')['BillAmount'].sum().reset_index()
depart_bill

    Department  BillAmount
0   Cardiology     16200.0
1  Dermatology         0.0
2    Neurology         0.0
3  Orthopedics      7500.0

5.	Remove duplicate patient records based on PatientID.

In [9]:
df.drop_duplicates(subset=['PatientID'], inplace=True)

In [10]:
df

   PatientID     Name   Department     Doctor  BillAmount
0        101    Alice   Cardiology  Dr. Smith      5000.0
1        102      Bob    Neurology   Dr. John         NaN
2        103  Charlie  Orthopedics    Dr. Lee      7500.0
3        104    David   Cardiology  Dr. Smith      6200.0
4        105      Eva  Dermatology   Dr. Rose         NaN

6.	Fill missing BillAmount values with the mean bill amount.

In [11]:
mean_bill = round(df['BillAmount'].mean(),2)
mean_bill

np.float64(6233.33)

In [12]:
df['BillAmount']= round(df['BillAmount'].fillna(mean_bill), 2)

In [13]:
df

   PatientID     Name   Department     Doctor  BillAmount
0        101    Alice   Cardiology  Dr. Smith     5000.00
1        102      Bob    Neurology   Dr. John     6233.33
2        103  Charlie  Orthopedics    Dr. Lee     7500.00
3        104    David   Cardiology  Dr. Smith     6200.00
4        105      Eva  Dermatology   Dr. Rose     6233.33

7.	Merge the billing dataset with patient dataset on PatientID.

In [14]:
bill_df = pd.read_csv(r"C:\Users\chand\Billing_Data.csv")
bill_df

   PatientID  InsuranceCovered  FinalAmount
0        101              2000         3000
1        102              1500         3500
2        103              2500         5000
3        104              3000         3200
4        105              1000         4000

In [15]:
merge_df = pd.merge(df,bill_df, on='PatientID')
merge_df

,PatientID,Name,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount
0,101,Alice,Cardiology,Dr. Smith,5000.00,2000,3000
1,102,Bob,Neurology,Dr. John,6233.33,1500,3500
2,103,Charlie,Orthopedics,Dr. Lee,7500.00,2500,5000
3,104,David,Cardiology,Dr. Smith,6200.00,3000,3200
4,105,Eva,Dermatology,Dr. Rose,6233.33,1000,4000

8.	Concatenate an additional DataFrame that contains new patients for the current week (row-wise).

In [16]:
new_patients_df = pd.DataFrame({
    'PatientID': [106],
    'Name': ['Chandan'],
    'Department': ['Orthopedics'],
    'Doctor': ['Dr. Lee'],
    'BillAmount': [4500.0],
    'ReceptionistID': [1],
    'CheckInTime': ['2026-02-06 09:00']
})

In [17]:
new_patients_df

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,106,Chandan,Orthopedics,Dr. Lee,4500.0,1,2026-02-06 09:00

In [27]:
new_df = pd.concat([df,new_patients_df],axis=0). reset_index()
new_df.drop(columns=['ReceptionistID', 'CheckInTime'], inplace=True)
new_df

   index  PatientID     Name   Department     Doctor  BillAmount
0      0        101    Alice   Cardiology  Dr. Smith     5000.00
1      1        102      Bob    Neurology   Dr. John     6233.33
2      2        103  Charlie  Orthopedics    Dr. Lee     7500.00
3      3        104    David   Cardiology  Dr. Smith     6200.00
4      4        105      Eva  Dermatology   Dr. Rose     6233.33
5      0        106  Chandan  Orthopedics    Dr. Lee     4500.00

9.	Concatenate new billing category columns like ['InsuranceCovered', 'FinalAmount'] (column-wise).

In [19]:
bill_df.insert(loc=3,column='Billing Details', value=['Old', 'New', 'Old', 'New', 'Old'])

In [20]:
print(bill_df)

   PatientID  InsuranceCovered  FinalAmount Billing Details
0        101              2000         3000             Old
1        102              1500         3500             New
2        103              2500         5000             Old
3        104              3000         3200             New
4        105              1000         4000             Old

In [21]:
depart_revenue = new_df.groupby('Department')['BillAmount'].sum().reset_index()

•	Final cleaned dataset with accurate billing info.
•	All missing values handled, merged dataset across PatientID.
•	Ability to perform further analytics on department-wise revenue or doctor performance.

In [22]:
print(depart_revenue)

    Department  BillAmount
0   Cardiology    11200.00
1  Dermatology     6233.33
2    Neurology     6233.33
3  Orthopedics    12000.00